<section>
	<h1>Empresa disponiveis para realizar pedidos</h1>
	<div *ngIf="listCompanies.length">
		<table>
			<thead>
				<tr>
					<td>CNPJ</td>
					<td>socialName</td>
					<td>nameFantasy</td>
					<td>about</td>
					<td>createDate</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let company of listCompanies">
					<td>{{company.CNPJ}}</td>
					<td>{{company.socialName}}</td>
					<td>{{company.nameFantasy}}</td>
					<td>{{company.about}}</td>
					<td>{{company.createDate | date}}</td>
					<td><a [routerLink]="['/order/new']" [queryParams]="{'CompanyId': company._id }">Fazer pedido</a></td>
				</tr>
			</tbody>	
		</table>
	</div>
</section>
