<section>
	<el-form [inline]="true" size="small">
		
		<div el-row>
			<el-form-item>
				<el-select [model]="selectedCompany" placeholder="Seleciona uma empresa" (modelChange)="handleCompany($event)">
					<el-option *ngFor="let company of listCompanies" [label]="company.socialName" [value]="company">
					</el-option>
				</el-select>
			</el-form-item>
		</div>
		
		<div el-row>
			<el-form-item el-col span="6">
				<el-select [model]="selectedProduct" placeholder="Selecione um produto" (modelChange)="handleProduct($event)">
					<el-option *ngFor="let product of listProducts" [label]="product.name" [value]="product">
					</el-option>
				</el-select>
			</el-form-item>
			
			<!-- todo: com erro, ver depois -->
			<el-form-item el-col span="12" label="Quantidade" [required]="true">
				{{amount}}
				<el-input [model]="amount"></el-input>
			</el-form-item>
			
			<el-form-item el-col span="2">
				<el-button type="primary"(click)="addItem()">Adicionar</el-button>
			</el-form-item>
		</div>
	</el-form>
	
	<div *ngIf="listItems.length" id="list-orders">
		<el-table  [model]="listItems" [stripe]="true">
			<el-table-column model-key="name" label="Produto" width="140"></el-table-column>
			<el-table-column model-key="amount" label="Quantidade" width="140"></el-table-column>
			<el-table-column model-key="" label="Ação" width="140">
				<ng-template #slot let-scope="scope">
					X
				</ng-template>
			</el-table-column>
		</el-table>
		
		<el-button type="primary" (click)="onSubmit()">Fechar pedido</el-button>
	</div>
	
</section>
