<section id="container-signup">
    <div id="bg-signup"></div>
    <div  id="card-signup" class="card">
        <div class="card-header">
            <h1 class="card-title">Create an account</h1>
            <div class="link-sign">
                <i class="material-icons">person</i>
                <a routerLink="/login" routerLinkActive="active">Login</a>                    
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="signupForm" novalidate>
                <div class="md-input-group">
                    <label for="login-user" class="md-label">E-mail</label>
                    <input id="login-user" class="md-input" type="text"  formControlName="email">
                    
                    <div class="alert alert-danger" *ngIf="signupForm.controls.email.invalid && (signupForm.controls.email.dirty || signupForm.controls.email.touched)">
                        <div *ngIf="signupForm.controls.email.errors && signupForm.controls.email.errors.required">
                            Login is required.
                        </div>
                    </div>
                </div>
                <div class="md-input-group">
                    <label for="login-pass" class="md-label">Password</label>
                    <input id="login-pass" class="md-input" type="password"  formControlName="password">

                    <div class="alert alert-danger" *ngIf="signupForm.controls.password.invalid && (signupForm.controls.password.dirty || signupForm.controls.password.touched)">
                        <div *ngIf="signupForm.controls.password.errors && signupForm.controls.password.errors.required">
                            password is required.
                        </div>
                    </div>
                </div>
                <div class="md-input-group">
                    <label for="login-re_pass" class="md-label">Re enter password</label>
                    <input id="login-re_pass" class="md-input" type="password"  formControlName="rePassword">

                    <div class="alert alert-danger" *ngIf="signupForm.controls.rePassword.invalid && (signupForm.controls.rePassword.dirty || signupForm.controls.rePassword.touched)">
                        <div *ngIf="signupForm.controls.rePassword.errors && signupForm.controls.rePassword.errors.required">
                            rePassword is required.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button full class="md-button" (click)="onSubmit(signupForm.value)">Sign up</button>
        </div>
    </div>
</section>