<section id="container-signup">
	<div id="bg-signup"></div>
	<el-card class="box-card" style="width: 400px"> 
		<ng-template #header>
			<div class="clearfix">
				<span class="card-title" style="line-height: 36px;">{{ isCreateMode() ? 'Create an account' : 'My account' }} </span>
				<el-button *ngIf="action !== 'update'" routerLink="/login" routerLinkActive="active" style="float: right;" type="primary">Login</el-button>
			</div>
		</ng-template>
		<div class="card-body">
			<el-form [formGroup]="signupForm" label-width="150px">
				
				<el-form-item label="Name" 
					[required]="true"
					[status]="statusCtrl('name')" 
					[error]="messageCtrl('name')">
					<el-input formControlName="name" native-type="text"></el-input>
				</el-form-item>
				
				<el-form-item label="E-mail" 
					[required]="true"
					[status]="statusCtrl('email')" 
					[error]="messageCtrl('email')">
					<el-input formControlName="email" native-type="text"></el-input>
				</el-form-item>
				
				<el-form-item label="Password"
					[required]="true"
					[status]="statusCtrl('password')"
					[error]="messageCtrl('password')">
					<el-input formControlName="password" native-type="password"></el-input>
				</el-form-item>
				
				<el-form-item label="Re-password"
					[required]="true"
					[status]="statusCtrl('rePassword')" 
					[error]="messageCtrl('rePassword')">
					<el-input formControlName="rePassword" native-type="password"></el-input>
				</el-form-item>
				
				<el-button type="primary" 
					(click)="onSubmit(signupForm.value)"
					[elDisabled]="waitRequest">{{ isCreateMode() ? 'Sign up' : 'Update account'}}</el-button>
			</el-form>
		</div>
	</el-card>
</section>