<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <section id="container-login">
        <div id="bg-login"></div>
        <div class="card">
            <div class="card-title">
                <h1>Login</h1>
                <div class="link-sign">
                    <i class="material-icons">person</i>
                    <a href="./login.html">Sign up</a>                    
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm" novalidate>                    
                    <div class="md-input-group">
                        <label for="login-email" class="md-label"></label>
                        <input id="login-email" class="md-input" type="text" placeholder="Insira seu e-mail"
                            [(ngModel)]="user.email">
                        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="email.errors.required">
                                Login is required.
                            </div>
                        </div>
                    </div>
                    <div class="md-input-group">
                        <label for="login-pass" class="md-label"></label>
                        <input id="login-pass" class="md-input" type="password"  placeholder="Insira seu e-mail"
                            [(ngModel)]="user.password">
                        <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div *ngIf="password.errors.required">
                                Pass is required.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="md-button">Sign up</button>
            </div>
            {{ user }}
        </div>
    </section>
</body>
</html>