<nav *ngIf="navService.visible" class="nav-bar">
	<ul class="menu">
		<li class="menu-item">
			<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
		</li>
		<li class="menu-item">
			Company
			<ul class="submenu">
				<li><a routerLink="/company/new" routerLinkActive="active">New company</a></li>
				<li><a routerLink="/company/list" routerLinkActive="active">List companies</a></li>
			</ul>
		</li>
		<li class="menu-item">
			Orders
			<ul class="submenu">
				<li><a routerLink="/order/new" routerLinkActive="active">New order</a></li>
				<!-- TODO: Fazer listagem para todos os pedidos de todas as empresas -->
				<!-- <li><a routerLink="/order/list" routerLinkActive="active">List orders</a></li> -->
			</ul>
		</li>
		<li class="menu-item">
			<a routerLink="/account" routerLinkActive="active">Account</a>
		</li>
	</ul>
</nav>
