<el-menu *ngIf="navService.visible" class="nav-bar" mode="horizontal">
	<el-menu-item index="1"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></el-menu-item>
	
	<el-submenu index="2" class="submenu" title="Company">
		<el-menu-item index="2-1"><a routerLink="/company/new" routerLinkActive="active">New company</a></el-menu-item>
		<el-menu-item index="2-1"><a routerLink="/company/list" routerLinkActive="active">List companies</a></el-menu-item>
	</el-submenu>

	<el-submenu index="2" title="Orders">
		<el-menu-item index="2-1"><a routerLink="/order/new" routerLinkActive="active">New order</a></el-menu-item>
		<el-menu-item index="2-1"><a routerLink="/order/list" routerLinkActive="active">List orders</a></el-menu-item>
	</el-submenu>

	<el-menu-item><a routerLink="/account" routerLinkActive="active">Account</a></el-menu-item>
</el-menu>