
#container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    #card-login {
        width: 350px;
        
        .link-sign {
            float: right;
        }
    }
}