
#container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    // #bg-login {
    //     background-color: #ffba33;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     z-index: -1;
        
    //     &::before {
    //         content: '';
    //         border-left: 0px
    //     }
    // }

    

    #card-login {
        width: 350px;
        
        .link-sign {
            float: right;
        }
    }
}