<section id="container-login">
	<div id="bg-login"></div>
	<el-card class="box-card" style="width: 400px"> 
		<ng-template #header>
			<div class="clearfix">
				<span class="card-title" style="line-height: 36px;">Login</span>
				<el-button routerLink="/signup" routerLinkActive="active" style="float: right;" type="primary">Sign up</el-button>
			</div>
		</ng-template>
		
		<div class="card-body" >
			<el-form [formGroup]="loginForm" label-width="100px">
				<el-form-item label="E-mail" 
					[required]="true"
					[status]="statusCtrl('email')" 
					[error]="messageCtrl('email')">
					<el-input formControlName="email" native-type="text"></el-input>
				</el-form-item>

				<el-form-item label="Password" 
					[required]="true"
					[status]="statusCtrl('password')" 
					[error]="messageCtrl('password')">
					<el-input formControlName="password" native-type="password"></el-input>
				</el-form-item>
				
				<el-form-item>
					<el-button type="primary" (click)="onSubmit(loginForm.value)">Sign in</el-button>
				</el-form-item>
			</el-form>
		</div>
		
	</el-card>
</section>